{% extends 'base.html.twig' %}

{% block title %}
  Editer un produit
{% endblock %}

{% block body %}
<div id="content">
  <div>
    <h1>Modification du produit #{{product.id}}</h1>
    <form action="" method="post">
      <input type="hidden" name="_method" value="PATCH">
      <input type="text" name="ref" value="{{product.reference}}">
      <select>
        {% for cat in category %}
        <option value="{{cat.id}}">{{cat.name}}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Modifier">
    </form>
    <br />
    <a href="{{url('app_products_index')}}">Retour à la liste</a>
  </div>
</div>
{% endblock %}
