{% extends 'base.html.twig' %}

{% block title %}
  Mes produits
{% endblock %}

{% block body %}

  {% for msg in app.session.flashbag.get('notice') %}
  <div id="flash">
    <div>
      <strong>{{ msg.title }}</strong>
      <br/>
      {{ msg.message }}
    </div>
  </div>
  {% endfor %}

  <div id="content">
    <div>
      <a id="addProduct" href="/products/create">
        <button>Ajouter un produit</button>
      </a>
      <ul>
      {% for product in products %}
      <li>
        <a href="/products/{{product.getId()}}">
          #{{product.getId()}} : {{product.getReference()}}
        </a>
        <a href="/products/edit/{{product.getId()}}">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
        <a href="/products/delete/{{product.getId()}}">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </a>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
