{% extends 'base.html.twig' %}

{% block title %}
  Produit #{{product.id}}
{% endblock %}

{% block body %}
<div id="content">
  <div>
    <h1>#{{product.id}} : {{product.reference}}</h1>

    <a href="{{path('app_products_edit', {'id': product.id})}}">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </a>
    <a href="{{path('app_products_delete', {'id': product.id})}}">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </a>

    <br />
    <a href="{{url('app_products_index')}}">Retour à la liste</a>
  </div>
</div>
{% endblock %}
