{% extends 'base.html.twig' %}

{% block title %}
  Produit #{{product.getId()}}
{% endblock %}

{% block body %}
<div id="content">
  <div>
    <h1>#{{product.getId()}} : {{product.getReference()}}</h1>

    <a href="/products/edit/{{product.getId()}}">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </a>
    <a href="/products/delete/{{product.getId()}}">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </a>

    <br />
    <a href="/products">Retour à la liste</a>
  </div>
</div>
{% endblock %}
